.container{
    top:50%;
    left: 50%;
    position:cover;
    padding: 30px;
}
b{
    color:green
}
.card img{
    width: 300px;
    height: 168px;
    padding: 2px;
    margin: 2px;
}
.card{
    border:2px solid black;
    border-radius: none;
    text-align: center;
    margin: 20px;
    display:inline-block;
    background-color:black;
    color: aqua;
    border-color:black;
}
.card select{
    color: aqua;
    border-color: #ff5722;
    border-radius: 10px;
}
ul{
    list-style: none;
}
ul li{
    background-color: green;
    width: 190px;
    line-height: 40px;
}

